/* Buttons */
.btn {
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
  vertical-align: middle;
  background-color: transparent;
  user-select: none;
  border: 1px solid transparent;
  cursor: pointer;
  @include button-size(.5rem, 1rem, 0.8125rem, 1.55, 3px);
  @include transition(all .2s ease-in-out);
  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
    color: inherit;
    &.btn-ghost {
      background-color: $cloud;
      border-color: $cloud;
    }
  }
  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: .65;
    @include box-shadow(none);
  }
  &:active,
  &.active {
    background-image: none;
  }
}
// disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

// sizes
.btn-lg {
  @include button-size(.75rem, 1.5rem, 0.9375rem, 1.5, 4px);
}
.btn-sm {
  @include button-size(.25rem, .5rem, 0.625rem, 1.875, 2px);
}

// icon
.btn-icon {
  line-height: 1rem;
}

// variants
.btn-secondary {
  @include button-variant($heading-color, $cloud, $cloud);
}
.btn-primary {
  @include button-variant($light, $primary, $primary);
}
.btn-accent {
  @include button-variant($light, $accent, $accent);
}


// Forms
.form-inline {
  display: block;

  .input-control {
    display: inline-block;
    margin-right: .25rem;
  }
}
.input-control {
  display: block;
  vertical-align: middle;

  > label {
    display: block;
    font-size: .875rem;
    line-height: 1;
    font-weight: bold;
  }
}
.form-input {
  padding: .25rem .75rem;
  min-width: 0;
  width: 100%;
  font-size: 0.9375rem;
  line-height: 1.75;
  border: 2px solid $gray;
  border-radius: 3px;

  &:focus {
    outline: 0;
    border-color: $primary;
  }
}
.form-input-sm {
  padding: .25rem .5rem;
  font-size: .8125rem;
  line-height: 1.25;
  border-radius: 2px;
}


.badge {
  display: inline-block;
  min-width: 10px;
  padding: .25em .5em;
  font-size: .8125em;
  font-weight: bold;
  line-height: 1;
  color: $light;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $accent-alt;
  border-radius: 10px;
}

/* Navbar */
.navbar {
  .btn-toggle {
    background-color: transparent;
    color: inherit;
    @include box-shadow(none);
  }
}
.navbar-brand {
  margin: 0;
  // padding: 15px 0;
  font-size: 1.5rem;
  line-height: 20px;
  float: left;
  white-space: nowrap;
  color: $heading-color;

  @include hover-focus {
    color: $heading-color;
    text-decoration: none;
  }
}
.navbar-btn {
  margin-top: 6px;
  margin-bottom: 6px;

  &.btn-sm {
    margin-top: 11px;
    margin-bottom: 11px;
  }
  &.btn-lg {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}
.navbar-toggler {
  padding: .375rem 0;
  font-size: 1rem;
  border-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.navbar-inverse {
  color: rgba(#fff, .7);
}

// Icons
.icon {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;

  * {
    stroke: $body-color;
    fill: none;
    stroke-width: 6px;

    &[data-color="accent"] {
      stroke: $primary;
    }
  }

  &-light {
    * {
      stroke: $light;
    }
  }
}

// misc
// reset outline color for :focus

select,
textarea,
input[type="checkbox"],
input[type="radio"],
.btn {
  &:focus {
    outline-color: $primary;
  }
}