@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
}

/* Interaction states */
@mixin transition($transition...) {
  transition: $transition;
}

@mixin hover {
  &:hover { @content }
}

@mixin hover-focus {
  &:focus { @content }
  @include hover { @content }
}

@mixin active {
  &:active,
  &.active { @content }
}

@mixin hover-focus-active {
  &:focus,
  &:active,
  &.active {
    @content
  }
  @include hover { @content }
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}


/* Button */
// Button variant
@mixin button-variant($color, $background, $border) {
  $active-background: lighten($background, 5%);
  $active-border: $active-background;

  color: $color;
  background-color: $background;
  border-color: $border;
  @include box-shadow(0 2px 20px rgba($background, .3));

  @include hover {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
  }

  &:focus,
  &.focus {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
    // Remove the gradient for the pressed/active state
    background-image: none;

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: $active-background;
        border-color: $active-border;
    }
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
    @include hover {
      background-color: $background;
          border-color: $border;
    }
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}