html,
body {
  font-size: 1rem;
}

.stacked-menu {
  z-index: 1;
}

// The content
.site-content {
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem 0;

  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
// feature lists
.features {
  padding: 1rem 0;
}

.feature-heading {
  margin-bottom: .25rem;
  line-height: 2rem;
  color: inherit;
  small {
    display: block;
    font-style: italic;
    color: $gray;
    font-weight: normal;
    font-size: .65em;
  }
}

.feature-lists {
  margin-bottom: 2rem
}

.btn-feature {
  float: right;
}

.feature-item {
  display: block;
  padding: 1rem 0;
  line-height: 1.75;
  border-bottom: 1px solid rgba(#000, .12);
}

.fake-content {
  position: relative;
  margin: 0 1rem .5rem 0;
  display: inline-block;
  height: .75rem;
  width: .75rem;
  background-color: rgba(#fff ,0.12);
  border-radius: .75rem;
  vertical-align: top;
  line-height: 1;

  &.h-2,
  &.h-3,
  &.h-lg {
    height: 1rem;
    width: 1rem;
    background-color: rgba(#fff ,0.26);
  }
  &.h-3 {
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
  }
  &.h-lg {
    @media (min-width: 420px) {
      height: 2rem;
    }
    @media (min-width: 576px) {
      height: 3rem;
    }
    @media (min-width: 992px) {
      height: 4rem;
    }
  }

  &.inverse {
    background-color: rgba(#000 ,0.08);

    &.h-2,
    &.h-3,
    &.h-lg {
      background-color: rgba(#000 ,0.12);
    }
  }

  &.w-5 { width: 5%; }
  &.w-10 { width: 10%; }
  &.w-15 { width: 15%; }
  &.w-20 { width: 20%; }
  &.w-35 { width: 35%; }
  &.w-50 { width: 50%; }
  &.w-65 { width: 65%; }
  &.w-75 { width: 75%; }
  &.w-85 { width: 85%; }
  &.w-95 { width: 95%; }
}


// footer
.footer {
  padding: 1rem 0;
  color: $gray;
}