$primary:                     #5d67ad !default;
$accent:                      #D60257 !default;
$accent-alt:                  #E45635 !default;
$darker:                      #15191D !default;
$dark:                        #22292F !default;
$gray:                        tint($dark, 50%) !default;
$cloud:                       tint($dark, 85%) !default;
$light:                       #FFF !default;

$heading-color:               $dark;
$body-color:                  tint($dark, 10%);
